* {box-sizing:border-box;}
body {
    background-color: #BBB;
    height: 100%;
    margin: 0;
    padding: 0;
    }

#map {
    bottom: 0px;
    height: 100%;
    left: 362px;
    position: absolute;
    padding: 0 0;
    right: 0px;
}

.hr {
    background-color: black;
    color:black;
}
#hamburger {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
#title {
    text-align: center;
    margin: 5px;
}